@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Mrs+Saint+Delafield&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Goldman:wght@400;700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Mrs+Saint+Delafield&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-buttons{
  font-family: inherit;
}

.navbar-button {
  font-size: 17px;
  color: white;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.navbar-button:focus,
.navbar-button:hover {
  color:rgb(201, 171, 129)
}

.navbar-button:focus:after,
.navbar-button:hover:after {
  width: 100%;
  left: 0%;
}

.navbar-button:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: rgb(209, 173, 123);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.title{
  font-family: "mrs saint delafield";
  color: rgb(201, 171, 129);
}

.title-about{
  font-family: "mrs saint delafield";
}
.title-contact{
  font-family: "mrs saint delafield";
}

input[type="date"]::-webkit-calendar-picker-indicator {
  /* Change the color of the icon to white */
  filter: invert(1);
}
.contact-p {
  @apply text-xl leading-10 font-[Poppins]
}

.input-radio {
  display: none;
  
}

label {
  cursor: pointer;
  padding: 10px;

}

.input-radio:checked + label {
  background-color: #C9AB81;
  color: white;
  border-radius: 6px;
  transition: all 0.5s ease-in-out;
}
